$bg_white : #FFF;
$bg_blue  : #234A79;
$input    : #48A4FF;

#calculator {
    width: 100%;
    max-width: 300px;
    margin: 50px auto 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 20px 5px rgba(204,204,204,1);
    box-shadow: 0px 0px 20px 5px rgba(204,204,204,1);
    
    .top {
        overflow: hidden;
        height: 100px;
        color: $input;
        padding: 0 15px;
        text-align: right;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: $bg_white;

        #combination {
            height: 40px;
            line-height: 40px;
        }

        #result {
            height: 60px;
            line-height: 60px;
            font-size: 36px;
        }
    }
    
    .bottom {
        overflow: hidden;
        background-color: $bg_blue;
        padding-top: 15px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        .col {
            text-align: center;
            height: 75px;
        }

        #zero {
            width: 130px;
        }

        #equal {
            position: relative;
            height: 130px;
            bottom: 75px;
        }
    }
}